<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diez.ojs">

    //android:configChanges="screenSize|orientation" es para no recargar en main cuando se voltea el telefono

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".globales"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
       <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/xtremtheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".Fragment_inicio" />

        <activity android:name=".Fragment_todos_los_numeros" />-->
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />

    </application>

</manifest>